html {
    box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-image: url("/img/phrases.png"), url("/img/bg.jpg");
  background-position: top center, top center;
  background-repeat: no-repeat, no-repeat;
  background-size: auto auto, auto auto;
}
.main-site {
  min-width: 768px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

}
.inner-page {
  background-color: #fefefe;
  background-image: none;
}

a {
  text-decoration: none;
}
/*прячем*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* шапка */
.main-header {
  min-height: 56px;
}
.main-header-logo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 138px;
  height: 70px;
}
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;

  background-color: #ffffff;

  position: relative;
}
.site-navigation {
  list-style: none;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-navigation a {
  color: #000000
}
.site-navigation a:hover {
  color: #81b3d2;
}
.site-navigation a:focus {
  color: rgba(0, 0, 0, 0.3);
}
.site-navigation a:active {
  color: #766357;
}
.site-navigation-current a {
  color: #766357;
}
.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
  color: #766357;
}
.site-navigation li {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;

    min-width: 100px;
}
.site-navigation li:nth-child(1) {
    margin-left: 72px;
}
.site-navigation li:nth-child(2) {
    margin-left: -50px;
}
.site-navigation li:nth-child(3) {
    margin-right: -50px;

    text-align: right;
}
.site-navigation li:nth-child(4) {
    margin-right: 72px;

    text-align: right;
}

.welcome {
    padding-top: 76px;
    padding-bottom: 71px;
}

/*основной контейнер обоих странице*/
.container {
  background-color: #ffffff;
}

/* фильтры на странице hotels*/
.filters {
    background-image: url("/img/filter background.jpg");
    color: #ffffff;
}
.filters fieldset {
  border: none;
}
.filter legend {
  font-size: 16px;
  line-height: 26px;
  font-weight: bold;
}
.filter ul {
  list-style: none;
  line-height: 31px;
}
.filter label {
  font: inherit;
}
.filter-input:disabled {
  color: #5e6061;
}
.filter-button {
  font: inherit;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}
.filter-button:hover {
  color: #000000;
  background-color: #ffffff;
}
/*результат фильтров на странице hotels*/
.result {
  font-size: 21px;
  line-height: 26px;
}
/*сортировка по цене, рейтингу и типу на странице hotels*/
.sorting-list{
  list-style: none;
}
.sorting-item a{
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dashed #81b3d2;
}
.sorting-item a:hover {
  color: #81b3d2;
}
.sorting-item a:active {
  color: #000000;
  border-bottom: none;
}
.sorting-item-current a {
  color: #81b3d2;
  border-bottom: none;
}
.sorting-item-current a:hover,
.sorting-item-current a:focus,
.sorting-item-current a:active {
  color: #81b3d2;
  border-bottom: none;
}
/*каталог найденных отелей на странице hotels*/
.hotels-catalog {
  list-style: none;
}
.hotel-item h3 {
  font-size: 21px;
  line-height: 26px;
}
.hotel-item a {
  color: #000000;
}
.hotel-item a:hover {
  color: #81b3d2;
}
.hotel-item a:active {
  color: rgba(0, 0, 0, 0.3);
  font-weight: normal;
}
.hotels-popular {
  font: inherit;
  color: #666666;
  border: 2px solid #f2f2f2;
  background-color: #f2f2f2;
}
/*две кнопки на странице hotels подробнее и зарезервивровать*/
.reservation {
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  background-color: #766357;
  color: #ffffff;
  border: none;
}
.reservation:hover {
  background-color: #604e43;
}
.reservation:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}
.hotels-button a {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  background-color: #81b3d2;
  border: none;
}
.hotels-button a:hover{
  background-color: #669ec0;
  font-weight: bold;
}
.hotels-button a:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
/*слоган после фоновой картинки на странице index*/
.promotion {
  text-align: center;
}
.promotion-slogan {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.promotion-text {
  font-size: 14px;
  line-height: 26px;
}
/*преимущества Седоны страница index*/
.feature-one {
  color: #ffffff;

  background-color: #81b3d2
}
.feature-one h3 {
  font-size: 21px;
  line-height: 21px;
}
.feature-two {
  color: #ffffff;
  background-color: #81b3d2;
}
.feature-two h3{
  font-size: 21px;
  line-height: 21px;
}

.another-features {
  background-color: #eeeeee;
}
.another-features h3 {
  font-size: 21px;
  line-height: 21px;
}
/*рекомендации, страница index*/
.recomindation-list {
  list-style: none;
}
.recomindation-item {
  text-align: center;
}
.recomindation-item h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
/*форма поиска гостиниц на определенную дату на странице index*/
.booking {
  text-align: center;
}
.booking h2 {
  font-size: 30px;
  line-height: 36px;
}
.booking-text {
  font-size: 14px;
  line-height: 24px;
}
.search-title a {
  background-color: #766357;
  color: #ffffff;
  font-size: 21px;
  line-height: 26px;
}
.search-title a:hover {
  background-color: #604e43;
}
.search-title a:active {
  background-color: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

label {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
}
.search-item input {
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}
.search-item input:hover {
  background-color: #ebebeb;
}
.search-item input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.form-calendar,
.icon-plus,
.icon-minus {
  font: inherit;
  color: #cacaca;

  background-color: #f2f2f2;
  border: none;
}
.form-calendar:hover,
.icon-plus:hover,
.icon-minus:hover {
  color: #000000;
}
.form-calendar:active,
.icon-plus:active,
.icon-minus:active {
  color: #81b3d2;
}
/*кнопка Найти на странице index*/
.button {
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  background-color: #81b3d2;
  border: 2px solid #81b3d2;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}
/*подвал, на обоих страницах одинаковый*/
.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}
.hashtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}
.social-media {
  text-align: center;
}
.social-media ul {
  list-style: none;
}
.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}
.social-button:hover {
  background-color: #669ec0
}
.social-button:active {
  color: #88b6d1;
  background-color: #5496bd
}
.copyright {
  text-align: center;
}
.copyright-logo {
  color: #000000;
}
.copyright-logo:hover {
  color: #81b3d2;
}
.copyright-logo:active {
  color: #bdbbbc;
}


/* сетки */
.main-header {
  min-height: 56px;
}

.main-header-logo {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 138px;
  height: 70px;
}
.site-navigation {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-navigation li {
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;

    min-width: 100px;
}

.site-navigation li:nth-child(1) {
    margin-left: 72px;
}

.site-navigation li:nth-child(2) {
    margin-left: -50px;
}

.site-navigation li:nth-child(3) {
    margin-right: -50px;

    text-align: right;
}

.site-navigation li:nth-child(4) {
    margin-right: 72px;

    text-align: right;
}
